<ion-header>
  <ion-toolbar>
    <ion-title>All reactions of Weather</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="weatherServices">
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-icon name="partly-sunny" slot="start"></ion-icon>
        <ion-button (click)="connectToWeather()" fill="clear" slot="end">Use all reactions</ion-button>
      </ion-item>      
      <ion-card-subtitle>Reaction of Weather's Service</ion-card-subtitle>
      <ion-card-title>WEATHER</ion-card-title>
    </ion-card-header>
  </ion-card>
</div>
  
  <ion-card>
    <div class="publishWeather">
    <ion-item>
    <button item-right clear (click)="whichCity()">
      <ion-icon name="create" slot="start"></ion-icon>
    </button>
      <ion-label>See what is the weather in a city.</ion-label>
    </ion-item>
  </div>
  <div class="publishWeather2">
  <ion-item>
  <button item-right clear (click)="whichCity2()">
    <ion-icon name="create" slot="start"></ion-icon>
  </button>
    <ion-label>See what is the weather in a city.</ion-label>
  </ion-item>
</div>
</ion-card>
  
  <div class="backInstagram">
    <ion-button (click)="goToAllServices()" color="danger">Back</ion-button>
  </div>

  
</ion-content>