.weatherServices ion-icon {
    font-size: 64px;
    color: green;
}

.weatherServices ion-button  {
    color: white;
    background-color: green;
}

.publishPost ion-icon {
    font-size: 23px;
    color: green;
}

.publishPost ion-label {
    margin-left: 1.1rem;
}

.publishPicture ion-icon {
    font-size: 23px;
    color: green;
}

.publishPicture ion-label {
    margin-left: 1.1rem;
}

.backInstagram ion-button {
    display: block;
    margin: auto;
}
