<div class="content">


  <div class="githubService">
    <div class="card" style="width: 100%; padding: 10px;">
      <img class="card-img-top" src="https://cdn.dribbble.com/users/915711/screenshots/5827243/weather_icon3.png" alt="Card image cap">
      <div class="connectAllFacebookService">
        <button (click)="githubServices()" class="btn btn-primary">Use all Weather's reactions</button>
      </div>
      <div class="hr">
        <hr>
      </div>
      <div class="card-body">
        <h4 class="card-title">Weather's services.</h4>
        <p class="card-text">This section is reserved and constraints by an actions services.</p>
      </div>
    </div>
    <div class="card" style="width: 100%; padding: 10px;">
      <div class="card-header">
        Services
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Which city?</li>
      </ul>
    </div>
    </div>

</div>