<ion-header>

</ion-header>

<ion-content>
  <div class="logo">
    <ion-icon name="git-network" color="primary">Singin</ion-icon>
  </div>
  <ion-list>
    <ion-item>
      <ion-label color="primary">Email</ion-label>
      <ion-input color="grey" placeholder="Adresse mail" [(ngModel)]="mail" type="email" value="" (keyup.enter)="mailLogin()"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label color="primary">Password</ion-label>
      <ion-input color="grey" placeholder="Mot de passe" [(ngModel)]="password" type="password" value="" (keyup.enter)="mailLogin()"></ion-input>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-button color="grey" slot="end" fill="clear">Forgot password?</ion-button>
    </ion-item>
    <br>
    <div class="btHome">
      <br>
      <ion-button type="submit" (click)="mailLogin()">Sign in</ion-button>
      <ion-button round block outline color="medium" (click)="goToRegister()">Sign up</ion-button>
      <br>
    </div>
    <div class="flex_box">
      <ion-item line="none">
        <ion-label color="medium" text-center>Or connect you with</ion-label>
      </ion-item>
    </div>
    <br>
    <div class="flex">
      <ion-button color="primary" shape="round" (click)="facebookLogin()">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        Facebook
      </ion-button>
      <ion-button color="danger" shape="round" (click)="googleLogin()">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Google
      </ion-button>
    </div>
    <br>
  </ion-list>
</ion-content>
