.mailServices ion-icon {
    font-size: 64px;
    color: purple;
}

.mailServices ion-button {
    color: white;
    background-color: purple;
    border-color: purple;
}

.publishPost ion-icon {
    font-size: 23px;
    color: purple;
}

.publishPost ion-label {
    margin-left: 1.1rem;
}

.publishPicture ion-icon {
    font-size: 23px;
    color: purple;
}

.publishPicture ion-label {
    margin-left: 1.1rem;
}

.backTwitter ion-button {
    margin: auto;
    display: block;
}