<ion-header>
  <ion-toolbar>
    <ion-title>Follow the fluctuation of Dollar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="messageToPostFacebook">
    <br>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Fluctuation Dollar</ion-card-subtitle>
        <ion-card-title>Enter a value</ion-card-title>
      </ion-card-header>
      <ion-button color="primary" (click)="valid()">Publish</ion-button>
      <ion-button color="danger" (click)="backToFacebook()">Back</ion-button>
      <br>
      <br>
    </ion-card>
</div>
</ion-content>
