<ion-header>
  <ion-toolbar>
    <ion-title>All reactions of Currency</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="weatherServices">
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-icon ios="ios-cash" md="md-cash" slot="start"></ion-icon>
      </ion-item>
      <ion-card-subtitle>Reaction of Currency's Service</ion-card-subtitle>
      <ion-card-title>CURRENCY</ion-card-title>
    </ion-card-header>
  </ion-card>
</div>

  <ion-card>
    <div class="underCurrencies">
    <ion-item>
    <button item-right clear (click)="seeFluctuation2()">
      <ion-icon name="create" slot="start"></ion-icon>
    </button>
      <ion-label>
        Currency - The current value drops <b>over</b> the specified value.</ion-label>
    </ion-item>
  </div>

  <div class="bellowCurrencies">
    <ion-item>
    <button item-right clear (click)="seeFluctuation()">
      <ion-icon name="create" slot="start"></ion-icon>
    </button>
      <ion-label>
        Currency - The current value drops <b>bellow</b> the specified value.</ion-label>
    </ion-item>
  </div>

  </ion-card>
  <div class="backInstagram">
    <ion-button (click)="goToAllServices()" color="danger">Back</ion-button>
  </div>


</ion-content>