.twitterServices ion-icon {
    font-size: 64px;
}

.twitterServices ion-button {
    color: white;
    background-color: #38A1F3;
    border-color: #38A1F3;
}

.publishPost ion-icon {
    font-size: 23px;
    color: #38A1F3;
}

.publishPost ion-label {
    margin-left: 1.1rem;
}

.publishPicture ion-icon {
    font-size: 23px;
    color: #38A1F3;
}

.publishPicture ion-label {
    margin-left: 1.1rem;
}

.backTwitter ion-button {
    margin: auto;
    display: block;
}