
<div class="content">


  <div class="githubService">
    <div class="card" style="width: 100%; padding: 10px;">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/proxy/ad8styIlVq6zM4-3lRMuIy_QRs8ojOC0VmVnZVST-wLXqNUjIbCS2K6oslfg1W2vTgynesLfQKEHA_BtVXMsn-jJ0dABC9UG8MxZ2N_9TJ125mwP3RhIRmg" alt="Card image cap">
      <div class="connectAllFacebookService">
        
      </div>
      <div class="hr">
        <hr>
      </div>
      <div class="card-body">
        <h4 class="card-title">Weather's services.</h4>
        <p class="card-text">This section is reserved and constraints by an actions services.</p>
      </div>
    </div>
    <div class="card" style="width: 100%; padding: 10px;">
      <div class="card-header">
        Services
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Which city?</li>
      </ul>
    </div>
    </div>

</div>