<div class="content">


  <div class="instagramService">
    <div class="card" style="width: 100%; padding: 10px;">
      <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/220px-Instagram_logo_2016.svg.png" alt="Card image cap">
      <div class="connectAllFacebookService">
        <a href="{{InstaUrl}}"  class="btn btn-primary">Use all Instagram's reactions</a>
      </div>
      <div class="hr">
        <hr>
      </div>
      <div class="card-body">
        <h4 class="card-title">Instagram's services.</h4>
        <p class="card-text">This section is reserved and constraints by an reactions services.</p>
      </div>
    </div>
    <div class="card" style="width: 100%; padding: 10px;">
      <div class="card-header">
        Services
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Publish an statut on your account.</li>
        <li class="list-group-item">Publish a picture on your account.</li>
      </ul>
    </div>
    </div>

</div>