<ion-header>
  <ion-toolbar>
    <ion-title>Publish a statut on Facebook</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="beginTheTimer">
  <form>
    <br>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Timer</ion-card-subtitle>
        <ion-card-title>Duration</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-input placeholder="Express yourself..."></ion-input>
        <br>
      </ion-card-content>
      <ion-button color="primary">Start</ion-button>
      <ion-button color="danger" (click)="backToServices()">Back</ion-button>
      <br>
      <br>
    </ion-card>
  </form>
</div>
</ion-content>
