.githubServices ion-icon {
    font-size: 64px;
}

.githubServices ion-button {
    color: white;
    background-color: black;
    border-color: black;
}

.publishPost ion-icon {
    font-size: 23px;
    color: black;
}

.publishPost ion-label {
    margin-left: 1.1rem;
}

.publishPicture ion-icon {
    font-size: 23px;
    color: black;
}

.publishPicture ion-label {
    margin-left: 1.1rem;
}

.backFacebook ion-button {
    margin: auto;
    display: block;
}