<ion-header>
  <ion-toolbar>
    <ion-title>Follow the fluctuation of Dollar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="messageToPostFacebook">
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Parameters</ion-card-subtitle>
    <ion-card-title>Currency - Choose a pair of available currencies:</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <br>
    <div class="allRepositories">
      <ion-item>
        <ion-label>From</ion-label>
        <ion-select multiple="false" [(ngModel)]="first_currency" (ionChange)="onValueChange()" cancelText="Cancel" okText="Choose!">
          <ion-select-option  *ngFor="let item of currencies" value="{{item.id}}">{{item.id}} - </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>To</ion-label>
        <ion-select multiple="false" [(ngModel)]="second_currency" (ionChange)="onValueChange()" cancelText="Cancel" okText="Choose!">
          <ion-select-option  *ngFor="let item of currencies" value="{{item.id}}">{{item.id}} - </ion-select-option>
        </ion-select>
      </ion-item>
      <p style="padding: 10px;">Exchange rate actual value {{this.currentExchangeRate}}</p>
      <ion-input style="margin: 10px;" placeholder="Exchange rate ..." class="form-control" id="expe" type="text" [(ngModel)]="exchange_rate" value="{{currentExchangeRate}}"></ion-input>
      </div>
  </ion-card-content>
  <ion-button color="primary" (click)="valid()">Choose reaction</ion-button>
  <ion-button color="danger" (click)="backToFacebook()">Back</ion-button>
  <br>
  <br>
</ion-card>
</div>
</ion-content>
